.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-map {
  flex-basis: 66%;
}

.App-flags {
  flex-basis: 34%;
  overflow-x: scroll;
}

.Flag {
  display: inline-block;
  max-width: 72px;
  margin: 4px;
  cursor: pointer;
}

.Flag.-selected {
  border: 2px solid red;
}
